<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.hex539.scoreboard"
    android:versionCode="1"
    android:versionName="1.0">
  <uses-sdk android:minSdkVersion="24"/>
  <uses-permission android:name="android.permission.INTERNET" />
  <application
      android:label="@string/scoreboard_app"
      android:allowBackup="false"
      android:theme="@style/ScoreboardTheme">

    <activity
        android:name="me.hex539.app.activity.SettingsActivity"
        android:icon="@drawable/app_icon"
        android:label="@string/choose_contest"
        android:theme="@style/SettingsTheme"
        android:exported="false">
    </activity>

    <activity
        android:name="me.hex539.app.activity.LiveScoreboardActivity"
        android:icon="@drawable/app_icon"
        android:label="@string/demo_contest"
        android:theme="@style/ScoreboardTheme"
        android:exported="false">
    </activity>

    <activity-alias
        android:icon="@drawable/app_icon"
        android:label="@string/choose_contest"
        android:name="me.hex539.launcher1"
        android:targetActivity="me.hex539.app.activity.SettingsActivity">
      <intent-filter>
        <category android:name="android.intent.category.LAUNCHER" />
        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
    </activity-alias>

  </application>
</manifest>
