<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.hex539.scoreboard"
    android:versionCode="1"
    android:versionName="1.0">
  <uses-sdk android:minSdkVersion="24"/>
  <uses-permission android:name="android.permission.INTERNET" />
  <application
      android:label="@string/scoreboard_app"
      android:allowBackup="false"
      android:theme="@android:style/Theme.NoTitleBar">
    <activity
        android:name="me.hex539.app.activity.LiveScoreboardActivity"
        android:icon="@drawable/app_icon"
        android:label="@string/demo_contest"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:exported="true">
      <intent-filter>
        <category android:name="android.intent.category.LAUNCHER" />
        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
    </activity>
  </application>
</manifest>
